.button {
    background: none;
    border: none;
    padding: 16px;
    width: 172px;
    cursor: pointer;
}

.full {
    background-color: #7A5CFA;
    color: #fff;
    border-radius: 8px;

}

.inherit {
    border: 1px solid #7A5CFA;
    border-radius: 8px;
    color: #7A5CFA;
}