@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Noto+Sans:wght@400;600&display=swap');
@import "assets/reset.css";

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

:root {
    font-family: Noto Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    background-color: #7A5CFA;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    --main-color: #666666;
    --color-input-border: #CCCCCC;
    --input-focus: #7A5CFA;
    --error: #EB5757;
}
